extends layouts/default.pug 

block main
    h1 Trang giới thiệu
    div(class="box-head")
        h2(class="inner-title") Đây là trang giới thiệu
        div(class="inner-desc") Trang giới thiệu về công ty